<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-question-choice-heading">Create or edit a User Question Choice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userQuestionChoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userQuestionChoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timeStamp">Time Stamp</label>
                    <input type="number" class="form-control" name="timeStamp" id="field_timeStamp"
                        [(ngModel)]="userQuestionChoice.timeStamp" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" [(ngModel)]="userQuestionChoice.question" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === userQuestionChoice.question?.id ? userQuestionChoice.question : questionOption" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_choice">Choice</label>
                    <select class="form-control" id="field_choice" name="choice" [(ngModel)]="userQuestionChoice.choice" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="choiceOption.id === userQuestionChoice.choice?.id ? userQuestionChoice.choice : choiceOption" *ngFor="let choiceOption of choices; trackBy: trackChoiceById">{{choiceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
